.image,
.description {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.image {
  margin-bottom: 1rem;
}

.description {
  margin-bottom: 6rem;
  background-color: var(--color-white);
}

.description h4,
.description p {
  margin: 1rem;
}

.description h4 {
  font-size: var(--size-medium);
}

.description p {
  font-size: var(--size-small);
  font-weight: var(--weight-regular);
}
