.image,
.descriptionContainer {
  border: 2px solid var(--color-black);
  border-radius: 10px;
  box-shadow: 0 5px 20px var(--color-grey);
}

.image {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.descriptionContainer {
  width: 100%;
  height: auto;
  margin-bottom: 6rem;
  background-color: var(--color-white);
}

.descriptionContainer h4,
.descriptionContainer p {
  margin: 1rem;
}

.descriptionContainer h4 {
  font-size: var(--size-medium);
}

.description p {
  font-size: var(--size-small);
  font-weight: var(--weight-regular);
}

.description a {
  color: var(--color-teal);
  transition: var(--transition-normal);
}

@media (min-width: 768px) {
  .description a:hover {
    opacity: 0.7;
  }
}
