.image,
.descriptionContainer {
  width: 100%;
  border-radius: 10px;
}

.image {
  height: 389px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.descriptionContainer {
  height: auto;
  margin-bottom: 6rem;
  background-color: var(--color-white);
}

.descriptionContainer h4,
.descriptionContainer p {
  margin: 1rem;
}

.descriptionContainer h4 {
  font-size: var(--size-medium);
}

.description p {
  font-size: var(--size-small);
  font-weight: var(--weight-regular);
}
