.controls {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  z-index: 1;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid var(--color-black);
  border-radius: 4px;
  transition: var(--transition-normal);
}

.icon,
.expandIcon {
  width: 2.25rem;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.icon:active,
.expandIcon:active {
  opacity: 0.8;
}

.icon {
  height: 0;
}

.icon.expanded,
.expandIcon {
  height: 2.25rem;
}

.expandIcon.playing {
  fill: var(--color-white);
}

.expandIcon.playing.teal {
  background-color: var(--color-teal);
}

.expandIcon.playing.red {
  background-color: var(--color-red);
}

.expandIcon.playing.purple {
  background-color: var(--color-purple);
}

.expandIcon.playing.green {
  background-color: var(--color-green);
}

.trackTitle {
  position: fixed;
  left: 5rem;
  bottom: 1.36rem;
  z-index: 1;
  margin-right: 3rem;
  padding: 0.25rem;
  font-size: var(--size-small);
  color: var(--color-black);
  opacity: 0;
  border-radius: 4px;
  transition: var(--transition-normal);
  background-color: var(--color-light-transparent-grey);
}

.trackTitle.show {
  animation: fadeInFadeOut 5s ease-in-out;
}

.teal {
  background-color: var(--color-light-teal);
}

.red {
  background-color: var(--color-light-red);
}

.purple {
  background-color: var(--color-light-purple);
}

.green {
  background-color: var(--color-light-green);
}

@media (min-width: 768px) {
  .teal .icon:hover,
  .teal .expandIcon:hover {
    fill: var(--color-white);
    background-color: var(--color-teal);
  }
}

@media (min-width: 768px) {
  .red .icon:hover,
  .red .expandIcon:hover {
    fill: var(--color-white);
    background-color: var(--color-red);
  }
}

@media (min-width: 768px) {
  .purple .icon:hover,
  .purple .expandIcon:hover {
    fill: var(--color-white);
    background-color: var(--color-purple);
  }
}

@media (min-width: 768px) {
  .green .icon:hover,
  .green .expandIcon:hover {
    fill: var(--color-white);
    background-color: var(--color-green);
  }
}

@keyframes fadeInFadeOut {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }

  10%,
  90% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-1rem);
  }
}
